body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
#logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
}

.navbar-nav {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
}

.main {
    margin-top: 2%;
}
#top {
    text-align: center;
    margin-top: 3%;
}

.content {
    text-align: justify;
    margin-left:5%;
    margin-right: 5%;
}